:root{
  font-size: 62.5%;

  --hue: 23;
  --colorH1: hsl(var(--hue), 90%, 50%);
  
  --colorP: hsl(var(--hue), 50%, 70%);
  
}

section h1 , h1 p{

  padding: 0.8rem;
  margin: 1rem auto;

}

h1{
  background-color:  var(--colorH1) ;

  display: flex;
  justify-content: space-between;
  padding: 1.5rem;

  border-radius: 2rem 2rem 0 0 ;
}

.iconOPENask img{
  width: 2rem;
  height: 2rem;

}

#ask{
  background-color: var(--colorP)
}

.div{
  display: none;
}

